
<html>
<head>

  <title>Chat</title>
  <link rel="stylesheet" href="css/messeges.css" >
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

  <div id="live-chat">
    
    <header class="clearfix">

      <h4>Navid</h4>

      <span class="chat-message-counter">3</span>

    </header>

    <div class="chat">
      
      <div class="chat-history">
        
        <div class="chat-message clearfix">

          <div class="chat-message-content clearfix">
            
            <span class="chat-time">13:35</span>

            <h5>Navid</h5>

            <p>And when the sun rises, the blue sky shades away.</p>

          </div> <!-- end chat-message-content -->

        </div> <!-- end chat-message -->

        <hr>

        <div class="chat-message clearfix">

          <div class="chat-message-content clearfix">
            
            <span class="chat-time">13:37</span>

            <h5>Emma Watson</h5>

            <p>Oh dear my dear, I know that</p>

          </div> <!-- end chat-message-content -->

        </div> <!-- end chat-message -->

        <hr>

        <div class="chat-message clearfix">

          <div class="chat-message-content clearfix">
            
            <span class="chat-time">13:38</span>

            <h5>Navid</h5>

            <p>OK, bye</p>

          </div> <!-- end chat-message-content -->

        </div> <!-- end chat-message -->

      </div> <!-- end chat-history -->

      <form action="#" method="post" >

        <fieldset>
          
          <input type="text" placeholder="Type here....." autofocus>
          <input type="hidden">

        </fieldset>

      </form>

    </div> <!-- end chat -->

  </div> <!-- end live-chat -->

  
</body>
</html>