
<html>
<head>

  <title>Chat</title>
  <script src="js/angular/angular.js"></script>
  <script src="js/jquery/jquery.js"></script>
  <script src="js/userlist.js"></script>
  <script src="js/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
  <script src="js/jquery/jquery.min.js"></script>
  <script src="js/jquery/jquery-ui.min.js"></script>
  <script src="js/angular/angular-resource.js"></script>
  <link rel="stylesheet" href="css/messeges.css" >
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

  <div id="live-chat">
    
    <header class="clearfix">

      <h4>Navid</h4>

      <span class="chat-message-counter">3</span>

    </header>

    <div class="chat"  ng-app="MessageListApp">
      
      <div class="chat-history" ng-controller="MesaageListController">
        
        <div class="chat-message clearfix" ng-repeat="r in lst">

          <div class="chat-message-content clearfix">
            
            <span class="chat-time">{{r.time}}</span>

            <h5>{{r.fromuser}}</h5>

            <p>{{r.messages}}</p>

          </div> <!-- end chat-message-content -->

        </div> <!-- end chat-message -->

        <hr>

              </div> <!-- end chat-history -->

      <form action="#" method="post" >

        <fieldset>
          
          <input type="text" placeholder="Type here....." autofocus>
          <input type="hidden">

        </fieldset>

      </form>

    </div> <!-- end chat -->

  </div> <!-- end live-chat -->

  
</body>
</html>