<head>
    <link rel="stylesheet" href="css/profile.css" >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/angular/angular.js"></script>
    <script src="js/jquery/jquery.js"></script>
    <script src="js/profile.js"></script>
    <script src="js/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="js/jquery/jquery.min.js"></script>
    <script src="js/jquery/jquery-ui.min.js"></script>
    <script src="js/angular/angular-resource.js"></script>
</head>

  <div class="box" ng-app="ProfileApp" >
    <div ng-controller="ProfileController">
      <div id="overlay">
        <form action="getProfile.php" method="POST">
        <ul class="text">{{lst.name}} {{lst.sur_name}}</ul>
        <div class="text1">{{lst.username}}</div>
  
  
  
  
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading " role="tab" id="headingOne">
        <h4 class="panel-title ">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="" aria-controls="collapseOne">
            <div class="title  btn btn-danger btn-outline btn-lg">ABOUT {{lst.name}}</div>
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          {{lst.bio}}
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <div class="title btn btn-danger btn-outline btn-lg">Phone Number</div>
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="title  btn btn-danger btn-outline btn-lg" >
          {{lst.telephone}}
        </div>
      </div>
    </div>
       
          
  </form>
          
      </div>
    </div>
  </div>
